
body {
    height: 200vh;
    background-color: black;
}

.container {
    overflow-x: hidden;
}

.slideshow{
    position: relative;
    list-style: none;
    height: 200vh;
    width: 150vw;
    margin: 0 auto;
    overflow-x: hidden;
}

.slideshow li {
    height: 200vh;
    width: 150vw;
    position: absolute;
    top: -20vh;
    left: -20vh;
    background-size: cover;
    /* background-position: 50% 50%; */
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    overflow-x: hidden;
    /* animation: slideshowAnimation 80s linear infinite;  */
}

.slideshow li:nth-child(1) { 
    background-image: url('../img/bees-1.jpg'); 
}
.slideshow li:nth-child(2) { 
    background-image: url('../img/cow.jpg');
    animation-delay: 10s; 
    top: -20vh;
}
.slideshow li:nth-child(3) { 
    background-image: url('../img/peony-1.jpg');
    animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
    background-image: url('../img/playful-cow.jpg');
    animation-delay: 30s; 
    left: 0;
    top: -30vh;
}
.slideshow li:nth-child(5) { 
    background-image: url('../img/polar-bear.jpg');
    animation-delay: 40s; 
    left: -25vw;
}
.slideshow li:nth-child(6) { 
    background-image: url('../img/poppies-1.jpg');
    animation-delay: 50s; 
}
.slideshow li:nth-child(7) { 
    background-image: url('../img/sassy-cow.jpg');
    animation-delay: 60s; 
    left: -50vw;
    top: -20vh;
}
.slideshow li:nth-child(8) { 
    background-image: url('../img/swan.jpg');
    animation-delay: 70s; 
    left: -30vw;
    top: -30vh;
}

.scroll-up {
    animation: scrollUp 80s linear infinite, slideshowAnimation 80s linear infinite;
}

.scroll-left {
    animation: scrollLeft 80s linear infinite, slideshowAnimation 80s linear infinite;
}

.zoom-out {
    animation: zoomOut 80s linear infinite, slideshowAnimation 80s linear infinite;
}

.scroll-right {
    animation: scrollRight 80s linear infinite, slideshowAnimation 80s linear infinite;
}

.zoom-in {
    animation: zoomIn 80s linear infinite, slideshowAnimation 88s linear infinite;
}

@keyframes slideshowAnimation { 
    0% { 
        opacity: 0; 
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    30% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

/*
    bees - scroll up
    cow - scroll left
    peony - zoom out
    playful cow - scroll right
    polar bear - scroll up
    poppies - scroll up
    sassy cow - zoom in
    peacock - zoom out

    scroll up
    scroll left
    scroll right
    zoom out
    zoom in
*/

@keyframes scrollUp { 
    0% { 
        top: -20vh; 
        animation-timing-function: ease-in;
    }
    5% {
        top: -25vh;
        /* animation-timing-function: ease-out; */
    }
    10% {
        top: -30vh;
    }
    15% {
        top: -35vh;
    }
    20% {
        top: -40vh;
    }
    
}

@keyframes scrollLeft { 
    0% { 
        left: -20vh; 
        animation-timing-function: ease-in;
    }
    5% {
        left: -25vh;
        /* animation-timing-function: ease-out; */
    }
    10% {
        left: -30vh;
    }
    15% {
        left: -35vh;
    }
    20% {
        left: -40vh;
    }
}

@keyframes zoomOut { 
    0% { 
        transform: scale(1.5); 
        animation-timing-function: ease-in;
    }
    5% {
        transform: scale(1.3);
        /* animation-timing-function: ease-out; */
    }
    10% {
        transform: scale(1.14);
    }
    15% {
        transform: scale(1.02);
    }
    20% {
        transform: scale(.92);
    }
}

@keyframes scrollRight { 
    0% { 
        left: -20vh; 
        animation-timing-function: ease-in;
    }
    5% {
        left: -15vh;
        /* animation-timing-function: ease-out; */
    }
    10% {
        left: -10vh;
    }
    15% {
        left: -5vh;
    }
    20% {
        left: 0;
    }
}

@keyframes zoomIn { 
    0% { 
        transform: scale(1.14); 
        animation-timing-function: ease-in;
    }
    5% {
        transform: scale(1.3);
        /* animation-timing-function: ease-out; */
    }
    10% {
        transform: scale(1.5);
    }
    15% {
        transform: scale(1.72);
    }
    20% {
        transform: scale(1.96);
    }
}

/* .slideshow-container {
    position: relative;
    max-height: 1140px;
    overflow: hidden;
  }
  
  .slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
  } */
  